<header>
  <h1>Gamenight</h1>
</header>

<section>
  Gamenight allows you to manage your boardgames and boardgame groups. Setup events, bring games, and take a seat!
</section>

<nav>
  <%= link_to "register", register_path %>
  <%= link_to "login", login_path %>
</nav>

